<h1>Log In Form</h1>

<% if(errorMessage){ %>
    <div class="alert alert-danger" role="alert">
      <%= errorMessage %>
    </div>
      <%}%>

<form action="/login" method="post">
  

  <div class="mb-3">
    <label for="email">Email address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      aria-describedby="emailHelp"
      placeholder="Enter email"
    />
  </div>

  <div class="mb-3">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Password"
    />
  </div>

  <button type="submit" class="btn btn-primary">Log In</button>
</form>
